@import url('https://fonts.googleapis.com/css?family=Amiko:600,700|Carrois+Gothic+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Carrois+Gothic+SC&display=swap');
@font-face{
    font-family: "Van Helsing";
    src: url(../Css/Van\ Helsing.ttf)
}



/* Entrando no corpo do inicio */

.contain_index{
    position: relative;
    display: flex;
    width: 94.06%;
    height: 85%;
    background-color: rgba(162, 167, 173, 0.4);
    margin-top: 15vh;
    margin-left: 3vw;
    box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.64), 0 3px 11px 0 rgba(0, 0, 0, 0.22);
}

.div_intro{
    position: absolute;
    width: 637px;
    height: 211px;
    margin-top: 30px;
    margin-left: 321px;
    /* background-color: brown; */
}

.div_intro h3{
    font-family: "Van Helsing";
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.div_intro p{
    font-family: "Carrois Gothic SC";
    font-size: 17px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.div_conte_perso{
    position: absolute;
    width: 606px;
    height: 286px;
    padding-left: 8px;
    padding-top: 5px;
    margin-top: 140px;
    margin-left: 9px;
    /* background-color: darkcyan; */
}

.div_conte_perso p{
    font-family: "Van Helsing";
    font-size: 27px;
    text-align: center;
    text-decoration: underline;
    margin-top: 308px;
    cursor: pointer;
}

.img_conte_perso{
    float: left;
    width: 599px;
    height: 300px;
    border-radius: 6px;
    background: url("../Imagens/Corvo_Concept_Sheet.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.div_conte_hab{
    position: absolute;
    width: 606px;
    height: 286px;
    padding-left: 8px;
    padding-top: 5px;
    margin-top: 140px;
    margin-left: 647px;
    /* background-color: darkcyan; */
}

.div_conte_hab p{
    font-family: "Van Helsing";
    font-size: 27px;
    text-align: center;
    text-decoration: underline;
    margin-top: 310px;
    cursor: pointer;
}

.img_conte_hab{
    float: left;
    width: 599px;
    height: 300px;
    border-radius: 6px;
    background: url("https://comicvine1.cbsistatic.com/uploads/original/11123/111235159/5404052-ok3nxsg%20-%20imgur.gif");
    background-repeat: no-repeat;
    background-size: cover;
}