@import url('https://fonts.googleapis.com/css?family=Amiko:600,700|Carrois+Gothic+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Carrois+Gothic+SC&display=swap');
@font-face{
    font-family: "Van Helsing";
    src: url(../Css/Van\ Helsing.ttf)
}


.div_menu{
    float: left;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 2000;
    background-color: rgba(162, 167, 173, 0.42);
    display: flex;
    
}
.div_menu .menu_itens{
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px;
}
.Icone{
    float: left;
    width: 206px;
    height: 56px;
    background: url(../Imagens/dishonored_icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
 }

.personagens{
    display: inline-block;
    margin-left: 200px;
    padding-bottom: 8px;
    padding-top: 18px;
    padding-left: 14px;
    padding-right: 14px;
    height: 26px;
    border:2px;
    border-right-style: solid; 
    position: relative;
    color:  #0c102b;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    font-family: "Van Helsing";
    cursor: pointer;
}
.personagens:hover{
    background-color:#8c9ddede ;
    border-radius: 15px;
    transition: 900ms;
}
.personagens:hover .dropdown{
display: block;
opacity: 1;

}

.dropdown{
  display: none;
  position: absolute;
  background-color: rgba(55, 64, 61, 0.3);
  cursor: pointer;
  min-width: 50px;
  box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.2);
  padding: 0px 9px;
}

.dropdown p{
    text-decoration: none;
    margin-top: 6px;
    margin-bottom: 7px;
    text-align: center;
    font-size: 24px;
    padding-top: 9px;
    width: 185px;
    height: 25px;
    color: #1d1f1a;
    border-bottom: 2px;
    border-radius: 8px;
    border-bottom-style: solid;
}
.dropdown p:hover{
    background-color: #8c9ddede;
    transition: 900ms;

}

.h_e:hover .dropdown{
    display: block;
    opacity: 1;
}
.h_e{
    padding-bottom: 8px;
    padding-top: 18px;
    padding-left: 14px;
    padding-right: 14px;
    border: 2px;
    border-right-style: solid;
    width: 101px;
    height: 26px;
    position: relative;
    color:  #0c102b;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    font-family: "Van Helsing";
    
}
.h_e:hover{
    background-color:#8c9ddede ;
    border-radius: 15px;
    transition: 900ms;
}
.dunwall{
    padding-bottom: 8px;
    padding-top: 18px;
    padding-left: 14px;
    padding-right: 14px;
    height: 26px;
    border:2px;
    
    border-right-style: solid; 
    position: relative;
    color:  #0c102b;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    font-family: "Van Helsing";
}.dunwall:hover{
    background-color:#8c9ddede ;
    border-radius: 15px;
    transition: 900ms;
}

.inimigo{
    padding-bottom: 8px;
    padding-top: 18px;
    padding-left: 14px;
    padding-right: 14px;
    height: 26px;
    border: 2px;
    border-right-style: solid;
    position: relative;
    color:  #0c102b;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    font-family: "Van Helsing";
}
.inimigo:hover{
    background-color:#8c9ddede ;
    border-radius: 15px;
    transition: 900ms;
}
.inimigo:hover .dropdown{
    display: block;
    opacity: 1;
}
.local{
    padding-bottom: 8px;
    padding-top: 18px;
    padding-left: 14px;
    padding-right: 14px;
    height: 26px;
    position: relative;
    color:  #0c102b;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    font-family: "Van Helsing";
    cursor: pointer;
}
.local:hover{
    background-color:#8c9ddede ;
    border-radius: 15px;
    transition: 900ms;
}
.local:hover .dropdown{
    display: block;
    opacity: 1;
}
.entrar{
    display: flex;
    margin-top:16px;
}
.login{
    display: none;
    position: absolute;
    color:  #0c102b;
    margin-left: 22px;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    font-family: "Van Helsing";
}

.div_p_log{
    display: flex;
    width: 200px;
    height: 55px;
    margin-top: 3px;
    margin-left: 190px;
    /* background-color: crimson; */
}
.div_perfil{
    position: absolute;
    display: flex;
}

.nome_user{
    /* display: none; */
    position: absolute;
    color: #0c102b;
    width: 124px;
    height: 28px;
    margin-top: 18px;
    margin-left: 17px;
    font-size: 25px;
    font-weight: 500;
    font-family: "Van Helsing";
    cursor: pointer;
}

.foto_perfil{
    float: right;
    width: 50px;
    height: 50px;
    margin-right: -27px;
    margin-top: -15px;
    border-radius: 50%;
    background: url('../Imagens/corvo_perfil.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}


/* Terminando o menu */

/* Entrando no corpo do inicio */

.contain_index{
    position: relative;
    display: flex;
    width: 94%;
    height: 553%;
    background-color: aqua;
    margin-top: 15vh;
    margin-left: 3vw;
}

.div_intro{
    position: absolute;
    width: 637px;
    height: 211px;
    margin-top: 30px;
    margin-left: 321px;
    background-color: brown;
}

.div_intro h3{
    font-family: "Van Helsing";
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.div_intro p{
    font-family: "Carrois Gothic SC";
    font-size: 17px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.div_conte_perso{
    position: absolute;
    width: 606px;
    height: 286px;
    padding-left: 8px;
    padding-top: 5px;
    margin-top: 220px;
    margin-left: 9px;
    background-color: darkcyan;
}

.img_conte_perso{
    float: left;
    width: 599px;
    height: 230px;
    background: url("../Imagens/Corvo_Concept_Sheet.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.div_conte_hab{
    position: absolute;
    width: 606px;
    height: 286px;
    padding-left: 8px;
    padding-top: 5px;
    margin-top: 220px;
    margin-left: 647px;
    background-color: darkcyan;
}

.img_conte_hab{
    float: left;
    width: 599px;
    height: 230px;
    background: url("https://comicvine1.cbsistatic.com/uploads/original/11123/111235159/5404052-ok3nxsg%20-%20imgur.gif");
    background-repeat: no-repeat;
    background-size: cover;
}